<div id="h" class="form-signin text-center my-3">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <img class="mb-4" src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72"
         height="57">
    <h1 class="h1 mb-3 fw-bold">Login Now</h1>
    <div class="form-floating">
      <input id="floatingInput" type="email" formControlName="username" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.username?.errors }" placeholder="name@example.com"/>
      <div *ngIf="submitted && f.username?.errors" class="invalid-feedback mb-2">
        <div *ngIf="f.username?.errors?.required">Email is required</div>
      </div>
      <label for="floatingInput">Email</label>
    </div>

    <div class="form-floating">
      <input id="floatingPassword" type="password" formControlName="password" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.password?.errors }" placeholder="Password"/>
      <div *ngIf="submitted && f.password?.errors" class="invalid-feedback">
        <div *ngIf="f.password?.errors?.required">Password is required</div>
      </div>
      <label for="floatingPassword">Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary my-3" type="submit" [disabled]="loading">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Login
    </button>
    <label>Don't have account yet? </label>
    <button class="w-100 btn btn-lg btn-link mt-2" style="margin-bottom: 100px" type="submit" routerLink="../register">Register Now</button>
    <label class="text-muted mb-2">Contacts to my social</label>
    <div class="d-flex justify-content-center">
      <div class="row align-items-center">
        <a href="https://github.com/shashank1020/Registration-Login/" target="_blank"
           rel="noopener noreferrer" class="bi bi-github col-auto"></a>
        <a href="https://www.linkedin.com/in/shashank-maurya-15617b179" target="_blank" rel="noopener noreferrer"
           class="bi bi-linkedin col-auto"></a>

        <a data-bs-toggle="tooltip" data-bs-html="true"
          [ngClass]="{
              'bi bi-envelope': !selected,
              'bi bi-envelope-fill':selected
           }"
          class="col-auto" title="copy mail" (click)="copy()"></a>
      </div>
    </div>

  </form>
</div>
