/* You can add global styles to this file, and also import other style files */
html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
  background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
}


a { cursor: pointer }

.app-container {
  min-height: 320px;
  overflow: hidden;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
